@charset "utf-8";
body { width:100%; margin:0 auto; background:#63b7db ; overflow:hidden; font-family:"微软雅黑"; color:#36516b}
* { margin:0; padding:0; list-style:none; }
a { color:#666; text-decoration:none;}
a:hover { color:#D53B1F; font-size:16px}
a img { border:none;}


.beij img { max-height:100%; position:fixed; z-index:999}
.dl { width:480px; height:560px; position:fixed; z-index:10; left:50%; margin-left:-240px; top:50%; margin-top:-280px}
.dl .wenzi { font-size:60px; color:#FFF; font-weight:bold; text-align:center}
.dl .wenzix {  font-size:28px; color:#FFF; text-align:center; }

.dlkuang { width:420px; height:250px; background:#FFF; box-shadow:0px 0px 30px #3c9dc6 ; margin-top:40px; padding:30px;}
.dlkuang .biank { width:410px; height:40px; border:#c1ccd7 solid 1px; margin:8px 0 20px 0; padding-left:10px; font-size:20px}
#submit {  width:420px; height:40px; background:#62b6db; color:#FFF; font-size:20px; font-family:"黑体"; font-weight: normal; border:none; cursor:pointer; border-radius:4px; margin-top:8px}
#submit:hover { background:#80CCED}




