@charset "utf-8";
/* CSS Document */
.yindao{width: 1000px;margin:80px auto 10px auto;font-size: 12px;color: #CCCCCC;}
.yindao a{font-size: 12px;color: #999;}
.yindao a:hover{font-size: 12px;color: #3399ff;}
#content{width: 998px;/*height: 2550px;*/border: 1px solid #CCCCCC;margin:0 auto;padding-bottom:30px;overflow: hidden;}
.con1{margin-top: 10px;border-bottom: 1px solid #CCCCCC;overflow: hidden;}
.con1 h3{color: #000; text-align:center }
.con1 p{text-indent: 20px;font-size: 14px;padding: 5px 20px 10px  20px;}
.con2{height: 180px;border-bottom: 1px solid #CCCCCC;margin-top: 10px;}
.con2 h3{padding: 8px 0 0 20px;}
.con2_2{width: 1000px; position:relative;}
.con2_2 ul li{
	height: 120px;
	width: 160px;
	border: 1px solid #CCCCCC;
	float:left;
	margin:10px 32px 0 0;
	text-align:center;
}
.con2_2 ul li .k_one{display:inline-block;padding-top: 38px;}
.con2_2 ul li a{display:inline-block;height: 120px;width: 160px;}
.con2_2 ul li a:hover{ color:#fff; background-color:#09C;}


.block_ones{margin-left:28px;}
.block_ones a{display:inline-block;height: 120px;width: 160px;}
.block_ones a:hover{ color:#fff; background:url(../images/background.png) no-repeat center center;}

.popup_box{ border:1px solid red; width:300px; height:140px; overflow:hidden;    position: absolute;top: 2px;left: 34%; background-color:#fff; border:1px solid #009DDA; border-radius:4px;text-align:center;}
.popup_title{ font-size:14px; text-align:center; display:block;margin-top: 32px;    line-height: 22px;}
.popup_ok{display:inline-block;font-size:14px; border:1px solid #ccc; border-radius:4px; padding:2px 18px;margin-top: 24px; cursor:pointer;}
