@charset "utf-8";
        .clearfix:after
        {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
        .clearfix
        {
            zoom: 1;
        }
        
        /* focus */
        #focus
        {   margin-left:30.5%;
		    margin-top:3px;
            width: 800px;
            height: 400px;
            overflow: hidden;
            position: relative;
        }
        #focus ul
        {
            height:400px;
            position: absolute;
        }
        #focus ul li
        {
            float: left;
            width: 800px;
            height: 400px;
            overflow: hidden;
            position: relative;
        }
        #focus ul li div
        {
            position: absolute;
            overflow: hidden;
        }
        #focus .btnBg
        {
            position: absolute;
            width: 800px;
            height: 26px;
            left: 0;
            bottom: 0;
            background:none/* #000*/;
        }
        #focus .btn
        {
            position: absolute;
            width: 800px;
            height: 15px;
            padding: 0px 15px;
            right:10px;
            bottom: 2px;
            text-align: right;
        }
        #focus .btn span
        {
            display: inline-block;
            _display: inline;
            _zoom: 1;
            width: 25px;
            height: 10px;
            _font-size: 0;
            margin-left: 5px;
            cursor: pointer;
            background: #EA1515;
        }
        #focus .btn span.on
        {
            background: #fff;
        }
        #focus .preNext
        {
            width: 30px;
            height:124px;
            position: absolute;
            top: 150px;
            background: url(../../images/homepage/sprite.png) no-repeat 0 0;
            cursor: pointer;
        }
        #focus .pre
        {
            left: 0;
        }
        #focus .next
        {
            right: 0;
            background-position: right top;
        }
/* CSS Document */

