@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; }
body {/*background: -webkit-linear-gradient(top, rgba(0,0,0,0) 1%,rgba(0,0,0,0) 70%,rgba(0,0,0,0.5) 100%);*/ /* Chrome10+,Safari5.1+ */ background:#e3deda;color:#333; font:12px/1.6em Helvetica, Arial, sans-serif; font-family: "微软雅黑";}
h1, h2, h3, h4, h5, h6 { font-size:1.5em; }
ul, li { list-style:none; }
fieldset, img { border:none; }
a{ text-decoration:none; color:#333333;}
legend { display:none; }
em, strong, cite, th { font-style:normal; font-weight:normal; }
input, textarea, select, button { font:12px Helvetica, Arial, sans-serif; }
input{ color:#CCC;}
.left-panel{ background:#55A9CD; width:220px; height:100%; position:fixed;}
.left_nav{ overflow:hidden;}
.nav_list{ height:42px; line-height:42px; text-align:center; color:#fff; font-size:1.5em; border-bottom:1px solid #69b9db; cursor:pointer;}
.nav_list:hover{ background:url(../../images/homemain/nav_bg.png) center center no-repeat;}
.nav_list a{ color:#fff;}