body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:66px;
  top:54px;
  width:104px;
  height:150px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:150px;
}
#u1 {
  position:absolute;
  left:2px;
  top:67px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:300px;
  top:181px;
  width:33px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:300px;
  top:233px;
  width:33px;
  height:37px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:42px;
  top:381px;
  width:838px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:821px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:838px;
  height:1px;
}
#u7 {
  position:absolute;
  left:392px;
  top:141px;
  width:50px;
  height:16px;
}
#u8 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u7_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9 {
  position:absolute;
  left:482px;
  top:141px;
  width:50px;
  height:16px;
}
#u10 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u9_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11 {
  position:absolute;
  left:390px;
  top:180px;
  width:90px;
  height:38px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:38px;
}
#u12 {
  position:absolute;
  left:2px;
  top:11px;
  width:86px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:390px;
  top:233px;
  width:90px;
  height:37px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:37px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:500px;
  top:180px;
  width:90px;
  height:38px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:38px;
}
#u16 {
  position:absolute;
  left:2px;
  top:11px;
  width:86px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:610px;
  top:180px;
  width:90px;
  height:38px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:38px;
}
#u18 {
  position:absolute;
  left:2px;
  top:11px;
  width:86px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:720px;
  top:180px;
  width:90px;
  height:38px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:38px;
}
#u20 {
  position:absolute;
  left:2px;
  top:11px;
  width:86px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:500px;
  top:233px;
  width:90px;
  height:37px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:37px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:610px;
  top:232px;
  width:90px;
  height:37px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:37px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:720px;
  top:232px;
  width:90px;
  height:37px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:37px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:300px;
  top:333px;
  width:65px;
  height:37px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:417px;
  top:344px;
  width:50px;
  height:16px;
}
#u30 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u29_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u31 {
  position:absolute;
  left:517px;
  top:344px;
  width:50px;
  height:16px;
}
#u32 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u31_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u33 {
  position:absolute;
  left:412px;
  top:481px;
  width:200px;
  height:100px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u34 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:231px;
  top:50px;
  width:129px;
  height:37px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:392px;
  top:54px;
  width:200px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38 {
  position:absolute;
  left:295px;
  top:135px;
  width:65px;
  height:37px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:437px;
  top:513px;
  width:161px;
  height:37px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:238px;
  top:286px;
  width:129px;
  height:37px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:390px;
  top:286px;
  width:90px;
  height:38px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:38px;
}
#u45 {
  position:absolute;
  left:2px;
  top:11px;
  width:86px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:500px;
  top:286px;
  width:90px;
  height:38px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:38px;
}
#u47 {
  position:absolute;
  left:2px;
  top:11px;
  width:86px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:295px;
  top:93px;
  width:65px;
  height:37px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:392px;
  top:104px;
  width:50px;
  height:16px;
}
#u51 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u50_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u52 {
  position:absolute;
  left:482px;
  top:104px;
  width:50px;
  height:16px;
}
#u53 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u52_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u54 {
  position:absolute;
  left:562px;
  top:104px;
  width:50px;
  height:16px;
}
#u55 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u54_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u57 {
  position:absolute;
  left:50px;
  top:20px;
  width:498px;
  height:30px;
  text-align:left;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:494px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:78px;
  top:22px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:220px;
  top:24px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:369px;
  top:24px;
  width:61px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
