@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}
ol, ul {
    list-style: none;
}
/* clear float */
.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.clearfix{
    *zoom:1;
}

/*中间部分*/
#main{
	width:100%;
    height:500px;
    background:url(../../images/login/bg3.jpg) repeat-x;
}
.content{ 
	width:990px;
    margin:0 auto;
 }
 /*登录框*/
 .login {
    width: 336px;
    height: 330px;
    float: right;
    margin-right:20px;
    margin-top: 50px;  
}
.login h4{
	font-family:"黑体";
	font-size:20px;
	 line-height:36px;
	 color:#000;
	 padding-bottom:20px;}
	 
.login h4 a{
	font-family:"宋体";
    float:right;
    font-size:14px;
    color:#f00;
}
 .login form {
        border: 1px solid #c4c4c4;
        width: 300px;
        height:350px;
        padding: 30px 40px 20px 40px;
        background-color:white;
    }
  .logininput{margin-bottom:20px;
       border:1px solid #dae2e5;
	  height:40px;
	   width:100%;
	   position:relative;}
 .logininput input{padding-left:10px;
 line-height:40px;
 height:40px ;
 width:240px;
  float:left;
  border:0;
 outline:0;}
 
.logincheckbox a{color:#000; 
  float:right;}
.logincheckbox a:hover{
   color:#f00;
   text-decoration:underline;
 }

.button-login {
        background-color: red;
        width: 300px;
        height: 40px;
		line-height:40px;
        font-family: "Microsoft YaHei", Arial, SansSerif;
        border: 0;
        display: block;
        color: #fff;
        text-align: center;
        cursor: pointer;
        margin-top: 20px;
        font-size:20px;
} 
/* CSS Document */

