.alertBox
{
    display: block;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -80px;
    width: 400px;
    background: rgba(34,34,34,0.75);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 15px;
    visibility: hidden;
}

.alertBox.notice
{
    height: 100px;
}

.alertBox.error
{
    height: 200px;
}

.alertBoxText
{
    color: #eeeeee;
    font-family: "segoe ui","tahoma","helvetica neue","lucida grande","sans-serif";
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: pre-wrap;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    padding: 0px 5px 5px 0px;
}

.alertBoxText.notice
{
    height: 40px;
}

.alertBoxText.error
{
    height: 200px;
}

.alertBoxOK
{
    display: block;
    position: absolute;
    text-align: center;
    z-index: 2;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    bottom: 15px;
    height: 20px;
    line-height: 20px;
    color: #f4f4f4;
    font-family: "segoe ui","tahoma","helvetica neue","lucida grande","sans-serif";
    font-size: 14px;
    background: rgba(0,0,0,0.0);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-width: 1px;
    border-color: #f4f4f4;
    border-style: solid;
    padding: 3px;
    cursor: pointer;
}

.alertBoxOK:hover
{
    color: #111111;
    background: rgba(255,255,255,0.9);
}
