@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; }
body {/*background: -webkit-linear-gradient(top, rgba(0,0,0,0) 1%,rgba(0,0,0,0) 70%,rgba(0,0,0,0.5) 100%);*/ /* Chrome10+,Safari5.1+ */ background:#fff;color:#333; font:12px/1.6em 微软雅黑;  padding:0 1%}
h1, h2, h3, h4, h5, h6 { font-size:1.5em; }
ul, li { list-style:none; }
fieldset, img { border:none; }
a{ text-decoration:none; color:#333333; font-family:"微软雅黑";}
legend { display:none; }
em, strong, cite, th { font-style:normal; font-weight:normal; }



.top { width:100%; height:42px;  background:#FCF9F9;}
.top .nav { float:left; width:500px;  height:42px; }
.top .nav li { float:left; width:160px; height:38px; line-height:30px; text-align:center; border-top:#e1e1e1 solid 4px; border-right:#cdcdcd solid 1px; cursor:pointer;font-size:16px; color:#555}
.top .nav  a { display:block; font-size:16px; color:#555}
.top .nav .xz { border-top:#5da8c8 solid 4px; background:url(../../images/homemain/white_bg.png) no-repeat 0 0 }
.top .suosuo { float:right; width:280px; height:30px;}
.top .suosuo .suosuo_left { width:214px; float:left; height:30px; line-height:30px; padding:0 10px 0; margin-top:5px; border:none;  }
.top .suosuo .suosuo_right {  width:40px; height:30px; line-height:30px;margin-top:5px; background:#5da8c8 url(../../images/homemain/sousuo.png)  no-repeat center; border:none; cursor:pointer; }


h3 { float:left; width:160px;  height:42px; line-height:42px; font-size::26px; font-weight:bold; text-align:center }
.yanse {  width:100%; height:42px; line-height:42px; margin-top:2px; font-size:18px}
.yanse label { float:left; width:60px; height:42px; margin-right:30px; }
.yanse .anniu { float:right; width:300px; height:42px;}
.yanse .anniu input { width:96px; height:30px; line-height:30px; text-align:center; border: none; background:#4e8fb7; color:#fff; border-radius:6px; cursor:pointer;} 


.side_wrap{overflow:hidden; margin-top:10px;}
.wrap_nav{border:1px solid; overflow:hidden;}
.nav_list{ float:left; margin-left:2%;height: 42px;line-height: 42px;}
.nav_title{display:inline-block; margin-right:5px;}
select{ width: 100px;height: 22px;}
.table_style{ width:100%;text-align: center;margin-top: 10px;border-collapse:collapse; border:1px solid #ccc;}
.table_th{ font-size:1.2em;height: 52px;line-height: 20px; padding:1% 0 1%; font-weight:bold;background: #EEF1F6;}
table td{height: 42px;line-height: 16px; font-size:1.2em; padding:0.5% 0 0.5%}
.table_style li { float:left;  border:#999 solid 1px; border-radius:4px; padding:4px; cursor:pointer; margin-left:5%; margin-top:1%}
.red { background:#ffc9c9}
.yellow  { background:#fffaac}
.orange  { background:#fdd097}


.tcdPageCode{padding: 40px 20px;text-align: right;color: #ccc;}
.tcdPageCode a{display: inline-block;color: #343434;display: inline-block;height: 25px;	line-height: 25px;	padding: 0 10px;margin: 0 12px;border-radius: 5px;vertical-align: middle;border: 1px solid #ccc;}
.tcdPageCode a:hover{text-decoration: none;}
.tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;border: 1px solid ##55A9CD;vertical-align: middle;background: #55A9CD; border-radius:5px;}
.tcdPageCode span.disabled{	display: inline-block;height: 25px;line-height: 25px;padding: 0 15px;margin: 0 2px;	color: #343434;;vertical-align: middle;border: 1px solid #ccc;border-radius: 5px;}

ul.pages {display:block;border:1px solid white;text-transform:uppercase;font-size:12px;margin:2px 0 50px;padding:0;}  
ul.pages li {list-style:none;float:left;border:1px solid #b36d41;text-decoration:none;margin:0 5px 0 0;padding:5px;}  
ul.pages li:hover {border:1px solid #afdfe4;background-color:#afdfe4;}  
ul.pages li.pgEmpty {border:1px solid #f0f0f0;color:#d9d6c3;background-color:#f0f0f0;}  
ul.pages li.thpoint {border:none;cursor:auto; color:#000;background-color:#fff;}  
ul.pages li.pgCurrent {padding: 4px 4px;border: 3px double #fff; + border-color: #afdfe4;color:#FFF;font-weight:700;background-color:#afdfe4;}  

/**********弹出框样式**********/

.fudong { width:100%; height:100%; position:absolute; z-index:100; color:#FFF; font-size:18px;font-family:"微软雅黑"; display:none}
.fudong .youhuiquan { width:400px; height:400px; background:#63b7dc; margin: 150px auto; }
.fudong .youhuiquan .title { width:400px; height:60px; line-height:60px; background:#55a9cd; text-align:center;}
.fudong .youhuiquan  img { position:absolute; margin-left:350px; cursor:pointer}
.fudong .youhuiquan .money { width:250px; height:20px; margin-top:100px; margin:100px auto 60px;}
.fudong .youhuiquan .money .input { width:150px; height:20px; padding-left:10px; background:#fff; border:#666 1px solid; margin-left:10px} 
.fudong .youhuiquan .ok,.djxz { width:250px; height:30px; background:#FFF; color:#63b7dc; font-size:20px; margin-left:75px; margin-top:60px; border:none; cursor:pointer; font-weight:bold;}
.djxz { margin:0; width:150px; margin-left:20px;}

.fudong .pldao {  width:250px; height:20px; margin: auto; font-size:14px;}
.fudong .pldao span { font-size:18px; cursor:pointer; color:#f8fd62; text-decoration: underline}

.fudong  .xinxi {width:258px; height:20px; margin:20px auto 0px;}
.fudong  .xinxi span { margin-right:5px}
.fudong  .xinxi { font-size:14px}
.fudong  .youhuiquan .ok2  {  width:258px; height:30px; background:#FFF; color:#63b7dc; font-size:20px; margin-left:71px; margin-top:26px; border:none; cursor:pointer; font-weight:bold;}

.mask{
	background: #000;
	opacity: 0.7;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
