@charset "utf-8";/* CSS Document */
* {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}
ol, ul {
    list-style: none;
}
/* clear float */
.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.clearfix{
    *zoom:1;
}

body {
    margin: 0 auto;
    padding: 0px;
    font-size: 16px;
    font-family: "Microsoft YaHei", Arial, SansSerif;
}
/*头部分*/
.top{ width:100%;
       height:34px;
	   background-color:#f6f6f6;}
 .title{width:1008px;
         height:100%;
		 line-height:34px;
		 font-size:14px;
		 color:#999999;
		 margin:0 auto;}
	.title a{ color:#999999;
	 text-decoration:none;}
	.title a:hover{ text-decoration:underline;
	                 color:#f00;}	 
  .title .wel{ width:340px;
                float:left;}
 .title .wel ul li{ float:left;
                     padding:0 20px 0 0;}
  .title .personal{width:340px;
                    height:100%;
					float:right;}
.title .personal ul li{float:left;
                     padding-left:30px;}
	.serch{ width:100%;
	        height:140px;
			float:left;}
	.search-con{ width:900px;
	               height:100%;
				   margin:0 auto;}
	.logo{width:150px;
	    height:70px;
          float:left;
			margin-top:10px;}
			.tit-banner{ height:80px;
			             width:100%;
						 background:#2D9DF3 repeat-x;}
			.tit-img{ width:1000px;
			          height:100%;
			           margin:0 auto;}			 
.search-form{width:575px;
             float:right;
              margin-top:18px;
			  overflow: hidden;}
.search-form .search-bd{height: 25px;}
.search-form .search-bd li{font-size:12px;
                           width:60px;
						   height: 25px;
						    line-height: 25px;
							 text-align:center;
							  float: left;
							  cursor: pointer;
							  background-color: #eee;
							  color: #666;}
.search-form .search-bd li.selected{color: #fff;
                   font-weight: 700;
				   background-color: #EA1515;}
.search-form .search-hd{height:34px;
                        background-color: #EA1515;
						padding: 3px;
						position: relative;}
.search-form .search-hd .search-input{width: 490px;
                                      height: 22px;
									  line-height: 22px;
									  padding: 6px 0;
									  background: none;
									  text-indent: 10px;
									  border: 0;
									  outline: none;
									  position: relative;
									  left: 3px;
									  top: 0;
									  z-index: 5;
									  #margin-left:-10px;}
.search-form .search-hd .btn-search{width: 70px;
                                      height: 34px;
									  line-height:34px;
									  position: absolute;
									  right: 3px;
									  top: 3px;
									  border: 0;
									  z-index: 6;
									  cursor: pointer;
									  font-size: 12px;
									  color: #fff;
									  font-weight: 700;
									  background: none;
									  outline: none;}
.search-form .search-hd .pholder{display: inline-block;
                                  padding: 2px 0;
								  font-size: 12px;
								  color: #999;
								  position: absolute;
								  left: 13px;top: 11px;
								  z-index: 4;
								  background: url(../images/homepage/zoom.jpg) no-repeat 0 0;
								          padding-left:25px;
										  #top:11px;}
.search-form .search-hd .s2,.search-form .search-hd #s2{display: none;}
.search-form .search-bg{width: 495px;
                            height: 34px;
							    background-color: #fff;
								 position: absolute;
								  left: 3px;
								  top: 3px;
								  z-index: 1;}
/*中间banner*/
.content{ height:450px;
       width:100%;
	   float:left;
	   margin-top:10px;}
	   /*新品上市*/
.goods-img{ width:100%;
            /* height:800px;*/
             float:left;
			 margin-top:10px}	   
.arrival-con{width:1008px;
              height:100%;
			  margin:0 auto;}
.tit-arrival{width:100%;
              height:53px;
			  float:left;}
.arrival{width:100%;
          height:330px;
		  float:left;
		  margin-top:10px;}
.arrival .goods{ border:1px solid #dfdfdf;
        border-width:1px 0 1px 1px;
		overflow:hidden}
.arrival .goods li{float:left;
          width:331px;
		  height:260px;
		  background-color:#fff;
		  border-right:1px solid #dfdfdf;
		  padding:15px 0;
		  position:relative;
		  overflow:hidden}
.arrival .goods li img{display:block;
              width:270px;
			  height:190px;
			  margin:0 auto;
			  transition:All .5s ease-in-out;
			  -webkit-transition:All .5s ease-in-out;
			  -moz-transition:All .5s ease-in-out;
			  -o-transition:All .5s ease-in-out;}
.arrival .goods li:hover img{transform:scale(1.1);
                     -webkit-transform:scale(1.1);
					  -moz-transform:scale(1.1);
					  -o-transform:scale(1.1);
					  -ms-transform:scale(1.1);}
.arrival .goods li span{ width:100%;
               height:40px;
			    line-height:40px;
				 display:block;
                text-align:center;
				padding-top:20px;}
 .arrival .goods .txt{font-size:24px;
                      color:#e4393c;
					  line-height:40px;}
.tit-arrival1{width:100%;
              height:51px;
			  line-height:51px;
			  font-size:22px;
			  float:left;
			  border-bottom:2px solid #0A0A0A;}
  .tit-arrival1 a{color:#000;}
   .tit-arrival1 a:hover{color:#ea1515;
                          text-decoration:none;}
   /*footer开始*/
    .footer{
		width:100%;
	height:130px;
	float:left;
	background-color:#ccc;}
	.footer-content{width:1008px;
	margin:0 auto;}
	.cooperation{ width:100%;
	height:25px;
	line-height:25px;
	 float:left;
	margin-top:35px;}
	.cooperation ul li{ float:left;
	font-size:16px;
	color:#000;
	padding:10px 48px 10px 48px;}
	.cooperation a{ color:#000;}
	.cooperation a:hover{ color:#f00;
	text-decoration:underline;}
	.copy{ width:100%;
	       height:20px;
	    line-height:20px;
	   margin-top:30px;
	  font-family:"Arial Black", Gadget, sans-serif;
	   float:left;
	  text-align:center;
	  font-size:14px;}
								  


