@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

ol, ul {
	list-style: none;
}
/* clear float */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	*zoom: 1;
}

body {
	margin: 0 auto;
	padding: 0px;
	font-size: 16px;
	font-family: "Microsoft YaHei", Arial, SansSerif;
}

/*top开始*/
#top {
	height: 100px;
	width: 100%;
	background-color: #fff;
}

.top-content {
	width: 990px;
	height: 100%;
	margin: 0 auto;
}

a {
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: #C00;
	text-decoration: underline;
}

.logo {
	float: left;
	margin-top: 16px;
}

/*中间部分*/
#main {
	width: 100%;
	height: 600px;
	float: left;
	background: url(../images/y35.jpg) repeat-x;
}

.content {
	width: 990px;
	margin: 0 auto;
}

.title {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-top: 6%;
	color: #ea1515;
}
/*注册框*/
.register {
	width: 400px;
	height: 420px;
	margin: 0 auto;
	margin-top: 20px;
	border: 1px solid #cecece;
}

.reg-tit {
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin-top: 6px;
}

.reg-tit .reg-tit1 {
	width: 120px;
	height: 100%;
	float: left;
	text-align: center;
}

.reg-tit1 h4 {
	font-family: "黑体";
	font-size: 22px;
	color: #000;
}

.reg-tit .reg-tit2 {
	width: 140px;
	height: 100%;
	float: right;
	padding-right: 6px;
}

.reg-tit2 h4 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
}

.reg-tit .reg-tit2 h4 a {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	float: right;
	font-size: 16px;
	color: #f00;
}

.register .ibox {
	position: relative;
	height: 35px;
	line-height: 35px;
	padding: 0 10px 0 14px;
}

.register .phone {
	margin-top: 10px;
	margin-bottom: 17px;
}

.register .ibox input {
	width: 100%;
	padding: 10px 0 10px 0;
	font-size: 16px;
	vertical-align: top;
	line-height: normal;
}

.register .ibox i {
	display: none;
	position: absolute;
	right: 8px;
	top: 50%;
	margin-top: -8px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.register .ibox .ihint {
	position: absolute;
	width: 120px;
	top: 10px;
	font-size: 14px;
	line-height: 16px;
	font-family: "Arial Black", Gadget, sans-serif;
	padding-left: 16px;
}

.register .pwlevel {
	overflow: hidden;
	margin: 4px 0 4px 0;
	height: 16px;
}

.register .pwlevel ul {
	margin-left: -4px;
}

.register .pwlevel li {
	float: left;
	width: 33.33%;
}

.register .pwlevel span {
	margin-left: 3px;
	display: block;
	height: 16px;
	line-height: 15px;
	font-size: 12px;
	text-align: center;
}

.register .cl {
	*zoom: 1;
	height: auto;
}

.register .cl:before, .register .cl:after {
	content: "";
	display: table;
}

.register .cl:after {
	clear: both;
	overflow: hidden;
}

.register .fl {
	float: left;
}

.register .vboxl {
	width: 265px;
	margin-right: 6px;
}

.register .vboxr {
	width: 120px;
}

.register .vboxr a {
	height: 36px;
	line-height: 36px;
	display: block;
	font-size: 16px;
	text-align: center;
	overflow: hidden;
}

.register .pd {
	padding-top: 15px;
	margin-bottom: 15px;
}

.register .repeatpw {
	margin-bottom: 28px;
}

.register .ibox .pwshow {
	display: block;
	font-size: 16px;
	cursor: text;
	color: #dcdcdc;
	margin-top: 20px;
}

.register .ibox .pwhide {
	display: none;
}

.button-register {
	background: #ea1717;
	width: 240px;
	height: 40px;
	line-height: 40px;
	font-family: "Microsoft YaHei", Arial, SansSerif;
	border: 0;
	display: block;
	color: #fff;
	text-align: center;
	cursor: pointer;
	margin-top: 20px;
	margin: 0 auto;
}