.sorry_one{ margin-left:-40px;}
.sorry_tit{ color:#2F2F2F; font-size:18px;display:inline-block;width: 300px;
line-height: 38px;}
.five {display:block;}

.black{margin:30px 0;font-size:18px;}
.black a{ padding:5px 20px; color:#fff; background:#59c2f1; border:1px solid #59c2f1; display:inline-block; border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
