@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; }
body {/*background: -webkit-linear-gradient(top, rgba(0,0,0,0) 1%,rgba(0,0,0,0) 70%,rgba(0,0,0,0.5) 100%);*/ /* Chrome10+,Safari5.1+ */ background:#e3deda;color:#333; font:12px/1.6em Helvetica, Arial, sans-serif;font-family: "微软雅黑"; }
h1, h2, h3, h4, h5, h6 { font-size:1.5em; }
ul, li { list-style:none; }
fieldset, img { border:none; }
a{ text-decoration:none; color:#333333;}
legend { display:none; }
em, strong, cite, th { font-style:normal; font-weight:normal; }
input, textarea, select, button { font:12px Helvetica, Arial, sans-serif; }
input{ color:#CCC;}

.side_main{overflow:hidden; background:#fff;padding-left:1%;padding-right:1%;position: fixed;
height: 100%;width: 98%;}
.side_nav{background:#FCF9F9; width:100%;overflow: hidden;}
.side_list{ float:left; height:42px; line-height:42px; font-size:1.2em; margin-right:3%; cursor:pointer;width: 14%;text-align: center;}
.side_wrap{ margin-top:10px; position:relative;}
.side_search{height:42px; position:absolute;position: absolute;right: 0;
top: -12.5%;}
input[type="search"] {width: 200px;border-radius: 2px;border: 1px solid #ccc;height: 28px;line-height: 28px;margin-top: 1%;padding-left: 16%;}
.search_icon{ display:inline-block; background:url(../../images/homemain/sousuo.png) center center no-repeat; background-color:#4C8FB6;width: 28px;height: 26px;position: absolute;top: 7%;left: 0;border-radius: 2px; border-top-right-radius:0;border-bottom-right-radius:0; cursor:pointer;}
.wrap_nav{overflow:hidden;}
.nav_list{ float:left; margin-left:2%;height: 42px;line-height: 42px;}
.nav_title{display:inline-block; margin-right:5px;}
select{ width: 100px;height: 22px;background: #FCF9F9;}
.table_style{ width:100%;text-align: center;margin-top: 10px;border-collapse:collapse; border:1px solid #ccc;}
.table_th{ font-size:1.5em;height: 52px;line-height: 52px; font-weight:bold;background: #EEF1F6;}
table td{height: 42px;line-height: 42px; font-size:1.2em;}
.side_open{ background:#4E8FB7; color:#fff; text-align:center;height: 52px;line-height: 52px; border:1px solid #4E8FB7; border-radius:5px; margin-top:20px; font-size:2em; cursor:pointer;}
.currents{ background:url(../../images/homemain/right_xz1.png) center center no-repeat;}


.tcdPageCode{padding: 40px 20px;text-align: right;color: #ccc;}
.tcdPageCode a{display: inline-block;color: #343434;display: inline-block;height: 25px;	line-height: 25px;	padding: 0 10px;margin: 0 12px;border-radius: 5px;vertical-align: middle;border: 1px solid #ccc;}
.tcdPageCode a:hover{text-decoration: none;}
.tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;border: 1px solid ##55A9CD;vertical-align: middle;background: #55A9CD; border-radius:5px;}
.tcdPageCode span.disabled{	display: inline-block;height: 25px;line-height: 25px;padding: 0 15px;margin: 0 2px;	color: #343434;;vertical-align: middle;border: 1px solid #ccc;border-radius: 5px;}