<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xue.dao.BsUserInfoDetailsMapper" >
  <resultMap id="BaseResultMap" type="com.xue.model.BsUserInfoDetails" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="balance" property="balance" jdbcType="INTEGER" />
    <result column="jigou_name" property="jigouName" jdbcType="VARCHAR" />
    <result column="obligate_field_c" property="obligateFieldC" jdbcType="VARCHAR" />
    <result column="obligate_field_d" property="obligateFieldD" jdbcType="VARCHAR" />
    <result column="obligate_field_e" property="obligateFieldE" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BsUserInfoMap" type="com.xue.model.BsUserInfo" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="lately_login_time" property="latelyLoginTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <resultMap type="com.xue.dto.BsUserInfoDetail" id="BsUserInfoDetailMap" extends="BsUserInfoMap">
  	<result column="user_id" property="userId" jdbcType="VARCHAR" />
  	<result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="balance" property="balance" jdbcType="INTEGER" />
    <result column="jigou_name" property="jigouName" jdbcType="VARCHAR" />
    <result column="obligate_field_c" property="obligateFieldC" jdbcType="VARCHAR" />
    <result column="obligate_field_d" property="obligateFieldD" jdbcType="VARCHAR" />
    <result column="obligate_field_e" property="obligateFieldE" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <sql id="Base_Column_List" >
    user_id, real_name, mobile, telephone, age, gender, create_time, balance, jigou_name, 
    obligate_field_c, obligate_field_d, obligate_field_e
  </sql>
  <select id="findByUserId" resultMap="BsUserInfoDetailMap" parameterType="java.lang.String" >
	    SELECT
			*
		FROM
			bs_user_info b,
			bs_user_info_details bid
		WHERE
			b.user_id = bid.user_id
		AND b.user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bs_user_info_details
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  
<select id="login" resultMap="BsUserInfoDetailMap" parameterType="com.xue.vo.query.BsUserInfoQuery" >
    select  * from (select password,user_name,state,buid.* from (select user_id as user_Id1 ,password ,user_name,state from bs_user_info) bui 
INNER JOIN (select * from bs_user_info_details) buid on bui.user_id1=buid.user_id)a  
    <where>
		<if test="userName !=null and userName != ''">  
	     	 AND user_name =  #{userName,jdbcType=VARCHAR} 
		</if> 
		<if test="mobile !=null and mobile != ''">  
	     	 AND mobile =  #{mobile,jdbcType=VARCHAR} 
		</if>  
	     	 AND password =  #{password,jdbcType=VARCHAR}  
	 </where>
	 and state=1
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bs_user_info_details
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xue.model.BsUserInfoDetails" >
    insert into bs_user_info_details (user_id, real_name, mobile, 
      telephone, age, gender, 
      create_time, balance, jigou_name, 
      obligate_field_c, obligate_field_d, obligate_field_e
      )
    values (#{userId,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{gender,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{balance,jdbcType=INTEGER}, #{jigouName,jdbcType=VARCHAR}, 
      #{obligateFieldC,jdbcType=VARCHAR}, #{obligateFieldD,jdbcType=VARCHAR}, #{obligateFieldE,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xue.model.BsUserInfoDetails" >
    insert into bs_user_info_details
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="jigouName != null" >
        jigou_name,
      </if>
      <if test="obligateFieldC != null" >
        obligate_field_c,
      </if>
      <if test="obligateFieldD != null" >
        obligate_field_d,
      </if>
      <if test="obligateFieldE != null" >
        obligate_field_e,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=INTEGER},
      </if>
      <if test="jigouName != null" >
        #{jigouName,jdbcType=VARCHAR},
      </if>
      <if test="obligateFieldC != null" >
        #{obligateFieldC,jdbcType=VARCHAR},
      </if>
      <if test="obligateFieldD != null" >
        #{obligateFieldD,jdbcType=VARCHAR},
      </if>
      <if test="obligateFieldE != null" >
        #{obligateFieldE,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xue.model.BsUserInfoDetails" >
    update bs_user_info_details
    <set >
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=INTEGER},
      </if>
      <if test="jigouName != null" >
        jigou_name = #{jigouName,jdbcType=VARCHAR},
      </if>
      <if test="obligateFieldC != null" >
        obligate_field_c = #{obligateFieldC,jdbcType=VARCHAR},
      </if>
      <if test="obligateFieldD != null" >
        obligate_field_d = #{obligateFieldD,jdbcType=VARCHAR},
      </if>
      <if test="obligateFieldE != null" >
        obligate_field_e = #{obligateFieldE,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xue.model.BsUserInfoDetails" >
    update bs_user_info_details
    set real_name = #{realName,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      gender = #{gender,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      balance = #{balance,jdbcType=INTEGER},
      jigou_name = #{jigouName,jdbcType=VARCHAR},
      obligate_field_c = #{obligateFieldC,jdbcType=VARCHAR},
      obligate_field_d = #{obligateFieldD,jdbcType=VARCHAR},
      obligate_field_e = #{obligateFieldE,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>